<html>
    <head>
        <title>Polarity</title>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="10">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <h1 class="title">SOFT8026 – Assignment 1</h1>
        </header>
        <main>
		    <h2>This page refreshes every 10 seconds displaying the polarity score for the last minute of streaming tweet data</h2>
		    <h3>
                I'm using TextBlob for the sentiment analysis side of things. TextBlob is a Python library for processing text data. It provides a 
                simple API for performing common NLP tasks such as sentiment analysis.
            </h3>
            <h3>
                TextBlob assigns sentiment polarity scores between -1 to +1. The closer to -1 a score is, the more negative it is. The closer to 
                +1 a score is, the more positive it is. A score of 0 means the tweet was classified as neutral.
            </h3>
            <h3>
                This result is the average of scores taken from the for the last minute, rounded to 2 decimal places.
            </h3>
            <h1>Result: {{ result }}</h1>
        </main>
    </body>
</html>